services:
  db:
    image: postgres:16-alpine
    environment:
      POSTGRES_USER: meme_user
      POSTGRES_PASSWORD: meme_pass
      POSTGRES_DB: meme_forum
      POSTGRES_INITDB_ARGS: "--encoding=UTF8"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./db/init-scripts:/docker-entrypoint-initdb.d
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U meme_user -d meme_forum"]
      interval: 10s
      timeout: 5s
      retries: 5
    ports:
      - "5432:5432"

  redis:
    image: redis:7-alpine
    command: ["redis-server"]
    ports:
      - "6379:6379"

  backend:
    build: ./backend
    env_file:
      - ./backend/.env
    volumes:
      - ./backend/logs:/app/logs
    ports:
      - "8000:8000"
    depends_on:
      - db
      - redis

  frontend:
    build: ./frontend
    ports:
      - "4200:80"
    depends_on:
        - backend

volumes:
  postgres_data: